* { box-sizing: border-box; padding: 0; margin: 0; }
a { text-decoration: none; }

h1 {margin-bottom: 20px;}

input {margin-bottom: 3px;}

.d-sub-btn {display: flex; justify-content: center;}

.sub-btn {width: 200px; margin-top: 20px;}

button {width: 200px;}

section {margin: 1%; border: 1px solid black; padding: 5px;}

html, body { height: 100%; scroll-behavior: auto;}
header { background-color: coral; }
footer { background-color: black; color: white; text-align: center; }

table, th, td {border: 1px solid #4f4f4f; border-collapse: collapse;}
th, td {padding: 7px;}

.flex-align-center { align-items: center; }
.flex-center { justify-content: center; align-items: center; }
.flex-container { display: flex; height: 100%; width: 100%; }
.flex-direction-column { flex-direction: column; }

.font-color-white { color: #fff; }

.h-50 { height: 50px; }
.h-100 { height: 100px; }

.menu-selected {font-width: bold;}
.menu-selected a {color: #ff0000;}

.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }

.p-lr-10 { padding: 0 10px; }
.p-lr-20 { padding: 0 20px; }

.id-input > label > input {margin-left : 54.4px;}

.welcome { margin-left: auto;}

#container { min-height: 100%; display: grid; grid-template-rows: 50px 1fr 50px; }

